*{
	margin: 0;
	padding: 0;
}
.wrapper{
	width: 800px;
	height: 1200px;
	background: #EDD4D5;
	margin: auto;
	padding: 10px;
	border: 1 solid black;
}
.header{
	width: 800px;
	height: 120px;
	background: #E59394;
}
.header img{
	margin-top: 20px;
	width: 100px
}
.nav{
	width: 700px;
	height: 100px;
	background: #FFFFFF;
	float: right;
	margin-top: 10px;
	
}
.introduc{
	width: 800px;
	height: 300px;
	background: #E59394;
	margin-top: 10px;
}
.backround{
	width: 800px;
	height: 400px;
	background: #E59394;
	margin-top: 10px;
}
/*
.menu{
	width: 200px;
	height: 200px;
	background: #FCF6F6;
	float: left;
	margin-left: 10px;
	margin-top: 85px;
	padding-right: 53px;
*/
.backround img{
	width: 200px;
	height: 200px;
	background: #FCF6F6;
	float: left;
	margin-left: 10px;
	margin-top: 85px;
	padding-right: 53px;
}
.backround h1{
	text-align: center;
	margin-right: 30px;
	color:#30EBFB;
	margin-top: 50px
}
.backround h5{
	float: left;
	margin-left: 10px;
	margin-top: 20px;
	padding-right: 100px;
	color: aliceblue
}
.about{
	width: 800px;
	height: 200px;
	background:  #E59394;
	margin-top: 10px;
}
.about h3{
	float: left;
	margin-left: 20px;
	margin-top: 65px;
	padding-right: 100px;
	color: aliceblue;
}
.about img{
	float: right;
	width: 200px;
	height: 200px;
	

}
.about h1{
	font-size: 20px;
	margin-left: 20px;
	color: aliceblue;

}
.nav ul{
	list-style: none;
}
.nav ul li{
	float: left;
	margin-left: 50px;
	margin-top: 40px;
}
.nav ul li a{
	color: darkorchid;
	text-decoration:none;
	transition-duration: 3s;
}
.nav ul li a:hover{color: aqua};


.footer{
	width: 800px;
	height: 110px
	background:  #E59394;
	margin-top: 10px;
}
.introduc img{
	width: 800px;
	height: 300px;
}






	
